@import "../../App.css";

.content {
    width: 100vw;
    margin-left: -9px;
    margin-bottom: -9px;
    margin-top: -9px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.contenedor {
    width: 92%;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    margin: 20px;
}

.contenedorLicenciados {
    width: 90%;
    margin-top: 25px;
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor span {
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}