@import "../../App.css";

.contenedorPrincipal
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -27px;
    margin-bottom: -27px;
}

.imagen
{
    width: 304px;
}

.administrador
{
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-base);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 25px;
    margin-top: -12px;
    background-color: #000000;
    color: white;
}

.contenedorBarraLateral
{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white-colorDark);
}

.contenedorContenido
{
    flex: 1;
    padding: 50px;
    width: 100%;
}

.titulo
{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: var(--font-size-base);
    background: none;
    border: none;
    padding-left: 10px;
}

.tituloSeccion
{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: var(--font-size-medio);
    border-bottom: solid 2px var(--lightblue-color);
    padding: 20px 20px 20px 80px;
    
    background-color: var(--white-colorDark);
    color: white;
    margin-bottom: 2px;
}

.contenedorContenidoSecundario
{
    background-color: var(--white-colorDark);
    padding: 40px;
}

.contenedorBoton,
.contenedorBotonActivo {
    width: 100%;
    border: none;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 15px 20px; /* Combina paddings en una sola línea */
    transition: border-bottom-color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

.contenedorBoton {
    background: none;
    color: white;
    font-weight: bold;
}

.contenedorBoton:hover {
    cursor: pointer;
    background-color: #575555;
}

.contenedorBotonActivo {
    background-color: #CCCCCC;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}