@import "../../App.css";

html, body {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina paddings */
    width: 100%; /* Asegura que ocupen todo el ancho */
    height: 100%; /* Asegura que ocupen toda la altura */
    box-sizing: border-box; /* Ajusta el modelo de caja */
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contenedor {
    width: 92%;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-base);
}



.buscador p {
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-base);
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.label {
    width: 50%;
}

.contenedorLibro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px
}

.contenedorBoton {
    margin: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.boton {
    padding: 0;
    width: 100px;
    height: 40px;
    border-radius: 13px;
}

.txtBoton {
    font-size: var(--font-size-base);
}