@import "../../../App.css";

.cuadroTitulo{
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    border: none 0px;
    background-color: var(--lightblue-color);
    display: flex;
    justify-content: center;
}

.titulo{
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--white-color);
}

.contenedor{
    width: 90%;
    background-color: var(--white-color);
    display: flex;
    border: none 0px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 27px;
    margin-bottom: 27px;
}