@import "../../App.css";

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--yellow-colorDark);
    width: 400px;
    height: 435px;
    margin: 10px;
}

.imagen {
    margin-top: 13px;
    width: 363px;
    height: 363px;
}

.boton {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--white-colorDark);
    padding: 0px;
}

.boton:hover {
    background-color: var(--lightblue-colorDark);
}

.boton:hover .txtBoton {
    color: var(--white-color);
}

.txtBoton {
    font-size: 15px;
    color: var(--white-color);
}