@import "../../App.css";

.contenedor {
    width: 356px;
    border-radius: 11px;
    border: 3px solid var(--yellow-colorDark);
    background-color: var(--white-colorDark);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorConBoton {
    height: 477px;
    justify-content: space-around;
}

.contenedorSinBoton {
    height: 320px;
    padding-top: 20px;
    justify-content: space-between;
}

.foto {
    width: 210px;
    height: 210px;
}

.datos {
    width: 100%;
    background-color: rgba(58, 59, 60, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.datosConBoton {
    height: 142px;
}

.datosSinBoton {
    height: 90px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.boton {
    width: 161px;
    height: 46px;
    background-color: var(--white-colorDark);
    border: 0px;
    color: var(--white-color);

}

.boton:hover {
    background-color: var(--lightblue-colorDark);
    color: var(--white-color);
    border-radius: 10px;
}

.txtBoton {
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.nombre {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: white;
}

.texto {
    font-family:'Instrument Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: white;
}

