@import "../../../App.css";

html, body {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina paddings */
    width: 100%; /* Asegura que ocupen todo el ancho */
    height: 100%; /* Asegura que ocupen toda la altura */
    box-sizing: border-box; /* Ajusta el modelo de caja */
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedorGeneral
{
    width: 60%;
}

.contenedorCampoTexto
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.tituloCampo
{
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-title);
    font-weight: bold;
    width: 100%;
}

.contenedorBoton
{
    width: 60%;
    display: flex;
}

.contenedorBoton > *
{
    height: 70px;
    width: 100%;
}