@import "../../../App.css";

.botonNavegacion
{
    background-color: var(--white-colorDark); 
    color: var(--white-color);
    font-size: var(--font-size-base);
    font-weight: bold;
    padding: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 4px solid transparent;
}

.botonNavegacion:hover
{
    border-bottom-color: var(--white-color);
    cursor: pointer;
}