@import "../../App.css";

html, body {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina paddings */
    width: 100%; /* Asegura que ocupen todo el ancho */
    height: 100%; /* Asegura que ocupen toda la altura */
    box-sizing: border-box; /* Ajusta el modelo de caja */
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedorPrincipalFormulario
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin-top: 70px;
}

.contenedorNombreCampo
{
    display: flex;
    align-items: center;
    min-width: 200px; /* Asegura un ancho mínimo para el label */
    white-space: nowrap;
}

.nombreCampo
{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    min-width: 240px;
    width: 30%;
}

.contenedorFormulario
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.contenedorBuscarLibro
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    gap: 10px;
}

.cerrarSesion
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.pregunta
{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.botones
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px
}

.botones > *
{
    width: 15rem;
}

@media screen and (max-width: 1280px) {
    .contenedorNombreCampo
    {
        flex-direction: column;
        align-items: start;
    }
}

.imagen {
    width: 210px;
    height: 210px;
}

.accesibilidad {
    position: fixed;
    right: 0;
    top: 20%;
}