:root
{
  --yellow-color: #FFC000;
  --lightblue-color: #043D9C;
  --darkblue-color: #032257;
  --bone-color: #D9D9D9;
  --white-color: #FFFFFF;
  --grey-color: #6b6b6b;
  --yellow-color-letter: #A77E00;
}