@import "../../App.css";

.contenedorGrande
{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contenedorGrande::before
{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/Footer.svg');
    background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(45%); /* Ajusta el nivel de desenfoque */
    z-index: -1;
}

.imagenIconoTexto
{
    width: 30px;
    padding-right: 10px;
}
.iconoTexto
{
    font-family: 'Inter',sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 18px;
}

.segundaParte
{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
}

.subrayado
{
    text-decoration: underline;
}

.titulo
{
    color: var(--white-color);
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    padding-left: 10px;
}

.terceraParte
{
    display: flex;
    justify-content: space-around;
}
.imagenTerceraParte
{
    padding: 10px;
}

.ajuste
{
    /*border-style: solid;
    border-color: red;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

@media screen and (max-width: 993px) {
    .contenedorGrande
    {
        flex-wrap: wrap;
        gap: 80px;
    }

    .contenedorGrande::before
    {
        flex-wrap: wrap;
    }
}

/*
@media screen and (max-width: 993px) {
    .contenedorGrande
    {
        flex-wrap: wrap;
        gap: 80px;
    }

    .contenedorGrande::before
    {
        flex-wrap: wrap;
    }
}
*/