@import "../../App.css";

.contenedorGrande
{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contenedorGrande::before
{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/Footer.svg');
    background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(45%); /* Ajusta el nivel de desenfoque */
    z-index: -1;
}

.imagenIconoTexto
{
    width: 30px;
    padding-right: 10px;
}
.iconoTexto
{
    font-family: 'Inter',sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: var(--font-size-base);
}

.segundaParte
{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
}

.subrayado
{
    text-decoration: underline;
}

.subrayado:hover
{
    color: var(--grey-color);
}

.titulo
{
    color: var(--white-color);
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: var(--font-size-medio);
    text-decoration: none;
    padding-left: 10px;
}

.terceraParte
{
    display: flex;
    justify-content: space-around;
}
.imagenTerceraParte
{
    padding: 10px;
}

.ajuste
{
    /*border-style: solid;
    border-color: red;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

@media screen and (max-width: 993px) {
    .contenedorGrande
    {
        flex-wrap: wrap;
        gap: 80px;
    }

    .contenedorGrande::before
    {
        flex-wrap: wrap;
    }
}

/* Estilo predeterminado para el enlace */
.iconoTexto a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Texto blanco por defecto */
    transition: color 0.3s ease; /* Animación suave al cambiar de color */
}

/* Estilo al pasar el mouse por encima */
.iconoTexto a:hover {
    color: var(--grey-color); /* Se queda azul mientras el mouse está encima */
}

/* Estilo para el texto del span dentro del enlace */
.iconoTexto a span {
    color: inherit; /* Hereda el color del enlace */
    transition: color 0.3s ease; /* Asegura que el span también cambie de color */
}

.terceraParte a img {
    transition: transform 0.3s ease, filter 0.3s ease; /* Suaviza la animación de escala y color */
    transform: scale(1); /* Tamaño normal por defecto */
    filter: brightness(100%); /* Color blanco por defecto */
}

.terceraParte a img:hover {
    transform: scale(0.9); /* Se achica al 90% del tamaño original */
    filter: brightness(70%); /* Cambia de blanco a un gris más oscuro */
}

.colitur
{
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    font-size: var(--font-size-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: none;
}

/*
@media screen and (max-width: 993px) {
    .contenedorGrande
    {
        flex-wrap: wrap;
        gap: 80px;
    }

    .contenedorGrande::before
    {
        flex-wrap: wrap;
    }
}
*/