@import "../../App.css";

.botonIniciarSesion
{
    background-color: var(--lightblue-colorDark); 
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 10px 10px 20px;
}

.botonIniciarSesion:hover
{
    background-color: var(--darkblue-colorDark);
    cursor: pointer;
}

.spanIniciarSesion
{
    color: white;
    font-weight: bold;
    font-size: var(--font-size-medio);
}

.componenteHijo
{
    color: #FFFFFF;
    padding-left: 8px;
    padding-right: 8px;
}