@import "../../App.css";

.boton
{
    background-color: var(--bone-color); 
    border-radius: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.boton:hover
{
    background-color: #857E7E;
    cursor: pointer;
}

.boton:hover .spanBoton
{
    color: white;
}

.spanBoton
{
    color: black;
    font-weight: bold;
    font-size: 26px;
}